{% extends 'main.html' %}
{% block content %}
    <div class = "text-center mb-4 bg-white">
        <table class="table table-striped">
            <thead>
              <tr>
                {%for head in rows%}
                <th scope="col">{{head}}</th>
                {%endfor%}
              </tr>
            </thead>
            <tbody>
                {% for row in raw_data%}
                {% if row[col_index[2]] <= row[-1]  %}
                    <tr style="background-color:red">
                {% else %}
                <tr>
                {% endif %}
                    <td>{{row[col_index[0]]}}</td>
                        <td>{{row[col_index[1]]}}</td>
                        <td>{{row[col_index[2]]}}</td>
                        <td><a href="{{url_for('order_individual', store_id=row[col_index[0]], title_id=row[col_index[1]])}}" role="button" class="btn btn-primary">Modify</a></td>
                        </tr>
                {% endfor %}

            </tbody>
 </div>
{% endblock content %}