{% extends 'main.html' %}
{% block content %}
    <form action="{{url_for('order_individual', store_id=store_id, title_id=title_id)}}" method="post">
        {{form.hidden_tag()}}

        <fieldset class="form-group">
            <legend style="color: #4682B4" class="border-bottom mb-4">Order Form for {{title_id}} at {{store_id}}</legend>
            <div class="form-group">
                {{ form.increment.label(class="form-control-label") }}:
                {% if form.increment.errors %}
                    {{ form.increment(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.increment.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.increment(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>


    </form>
{% endblock content %}